In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import MisrToolkit as mtk # needs python3.6
# from mpl_toolkits.basemap import Basemap # needs python 3.8?
import sys # to check python version
import os
import glob

In [2]:
# check python version
sys.version

'3.6.9 (default, Dec  8 2021, 21:08:43) \n[GCC 8.4.0]'

In [3]:
# load training dataset
# ds_fp = "/Users/ehsanmos/Documents/RnD/MISR_lab/ML_research/training_dataset/merged_april_2016_9cam3bands.csv"
# ds_fp = "/home/ehsan/misr_lab/training_dataset/april_2016/april_2016_parts/merged_april_2016_9cam_4bands_final_dataset_2.csv"
ds_fp = "/media/ehsan/6T_part1/2016/april_2016/14528_apr2016/project_april_2016_3cam/training_data/MisrAtmCalibratedModel_april_2016_testRun.csv"

in_ds = pd.read_csv(ds_fp)

In [4]:
in_ds.head(5)

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms,weight,npts,cloud,var
0,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750,0.5,8.0,-1,1.827518
1,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000,0.5,0.5,-1,0.000000
2,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353,0.5,8.5,-1,1.919447
3,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824,0.5,8.5,-1,3.094357
4,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000,0.5,1.0,-1,0.305000

In [5]:
in_ds.shape

(120969, 15)

In [6]:
# ds_3cam = in_ds[["path", "orbit", "block", "line", "sample", "lat", "lon", "Ca_r", "Cf_r", "An_r", "mean_ATM_roughness"]] # add path & block here

ds_3cam = in_ds[["#path", " orbit", " img_block", " line", " sample", " lat", " lon", " an", " ca", " cf", " rms"]] # add path & block here

In [7]:
# ds_3cam.rename(columns={"mean_ATM_roughness":"rms"}, inplace=True)
# ds_3cam["mean_ATM_roughness"]="rms" # does not work- should use DF.rename()
ds_3cam.columns

Index(['#path', ' orbit', ' img_block', ' line', ' sample', ' lat', ' lon',
       ' an', ' ca', ' cf', ' rms'],
      dtype='object')

In [8]:
# determine range to print based on min, max lat and lon of the data
# is it necessary?
xlon = ds_3cam[' lon']
ylat = ds_3cam[' lat']


margin = 2 # buffer to add to the range
lat_min = min(ylat) - margin
lat_max = max(ylat) + margin
lon_min = min(xlon) - margin
lon_max = max(xlon) + margin

In [9]:
print(lat_min)
print(lat_max)
print(lon_min)
print(lon_max)

68.108051
85.250886
197.591141
276.552118

In [10]:
from itertools import chain

def draw_map(m, scale=0.2):
    # draw a shaded-relief image
    m.shadedrelief(scale=scale)
    
    # lats and longs are returned as a dictionary
    lats = m.drawparallels(np.linspace(-90, 90, num=7))
    lons = m.drawmeridians(np.linspace(-180, 180, num=18))

    # keys contain the plt.Line2D instances
    lat_lines = chain(*(tup[1][0] for tup in lats.items()))
    lon_lines = chain(*(tup[1][0] for tup in lons.items()))
    all_lines = chain(lat_lines, lon_lines)
    
    # cycle through these lines and set the desired style
    for line in all_lines:
        line.set(linestyle='-', alpha=0.3, color='w')

In [11]:
# ref: https://stackoverflow.com/questions/44488167/plotting-lat-long-points-using-basemap
# basemap = Basemap(llcrnrlon=lon_min,
#                     llcrnrlat=lat_min,
#                     urcrnrlon=lon_max,
#                     urcrnrlat=lat_max,
#                     lat_0=(lat_max - lat_min)/2,
#                     lon_0=(lon_max-lon_min)/2,
#                     projection='ortho',
#                     resolution = None,
#                     area_thresh=10000.,)

In [12]:
# basemap.shadedrelief()
# basemap.drawcoastlines(color='gray')
# basemap.drawcountries(color='gray')
# basemap.drawstates(color='gray')



# basemap.drawcoastlines()
# basemap.drawcountries()
# basemap.drawstates()
# basemap.drawmapboundary(fill_color='#46bcec')
# basemap.fillcontinents(color = 'white',lake_color='#46bcec')

In [13]:
# fig = plt.figure(figsize=(12, 12))

# basemap = Basemap(projection='ortho', resolution=None, lat_0=90, lon_0=180)

# # locations on map: convert lat and lon to map projection coordinates
# xlons, ylats = basemap(xlon, ylat)

# plt.plot(xlons, ylats, 'ok', markersize=1)

# # draw a circle on map on 60N  
# basemap.drawparallels([60], color='red') #, labels='test'????)
# plt.title('Study Region, 60N', fontsize=16)

# draw_map(basemap);

# how zoom to the region?

In [14]:
def make_the_map(XlonSet, YlatSet):
    
    fig = plt.figure(figsize=(12, 12))

    basemap = Basemap(projection='ortho', resolution=None, lat_0=90, lon_0=180)

    # locations on map: convert lat and lon to map projection coordinates
    xlons, ylats = basemap(XlonSet, YlatSet)

    plt.plot(xlons, ylats, 'ok', markersize=1)

    # draw a circle on map on 60N  
    basemap.drawparallels([60], color='red') #, labels='test'????)
    plt.title('Study Region, 60N', fontsize=16)

    draw_map(basemap);
    return 0;

In [15]:
# run with oython >= 3.8

# make_the_map(xlon, ylat)

In [16]:
# ds_3cam[' orbit']

In [26]:
# compute time from orbit
orbit_list = ds_3cam[' orbit'].to_list()
# print(orbit_list)

for x in orbit_list:
    if x<1:
        orbit_list.remove(x)

# print(orbit_list)


orbit_start_stop_list = []
for orbiti in orbit_list:
    orbit_start_stop = mtk.orbit_to_time_range(orbiti)
    orbit_start_stop_list.append(orbit_start_stop)
    
# orbit_start_stop_list

orbit_start = np.array(orbit_start_stop_list)[:,0]
orbit_stop = np.array(orbit_start_stop_list)[:,1]

In [28]:
# add a date-time column to DF
ds_3cam['orbit_start'] = orbit_start
ds_3cam['orbit_stop'] = orbit_stop
# ds_3cam

/home/ehsan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/ehsan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms,orbit_start,orbit_stop
0,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750,2016-04-21T22:01:26Z,2016-04-21T23:40:20Z
1,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000,2016-04-21T22:01:26Z,2016-04-21T23:40:20Z
2,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353,2016-04-21T22:01:26Z,2016-04-21T23:40:20Z
3,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824,2016-04-21T22:01:26Z,2016-04-21T23:40:20Z
4,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000,2016-04-21T22:01:26Z,2016-04-21T23:40:20Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120964,56,86916,23,490,1170,79.711008,273.370681,0.782647,0.875023,0.991538,8.875455,2016-04-20T19:39:18Z,2016-04-20T21:18:11Z
120965,56,86916,23,490,1169,79.713787,273.369060,0.779630,0.872470,0.995484,8.925000,2016-04-20T19:39:18Z,2016-04-20T21:18:11Z
120966,56,86916,23,489,1169,79.714293,273.368750,0.779165,0.870381,0.999198,9.827778,2016-04-20T19:39:18Z,2016-04-20T21:18:11Z
120967,56,86916,23,489,1168,79.716572,273.367267,0.777773,0.861329,1.006857,8.409000,2016-04-20T19:39:18Z,2016-04-20T21:18:11Z
120968,56,86916,23,489,1167,79.719108,273.365495,0.779165,0.860633,1.005929,9.230000,2016-04-20T19:39:18Z,2016-04-20T21:18:11Z

In [37]:
# extract transect by date
# transect = ds_3cam.loc[(ds_3cam['orbit_start'] > 200.0) & (ds_3cam[' lon'] < 230.0)]
# transect

# Q-how filter for 19-april and then plot the transect for both my method and old method and then compare...

0         2016-04-21T22:01:26Z
1         2016-04-21T22:01:26Z
2         2016-04-21T22:01:26Z
3         2016-04-21T22:01:26Z
4         2016-04-21T22:01:26Z
                  ...
120964    2016-04-20T19:39:18Z
120965    2016-04-20T19:39:18Z
120966    2016-04-20T19:39:18Z
120967    2016-04-20T19:39:18Z
120968    2016-04-20T19:39:18Z
Name: orbit_start, Length: 120969, dtype: object

In [56]:
# extract transect by guessing longitudes
transect = ds_3cam.loc[(ds_3cam[' lon'] > 200.0) & (ds_3cam[' lon'] < 230.0)]
transect

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms
0,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750
1,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000
2,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353
3,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824
4,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000
...,...,...,...,...,...,...,...,...,...,...,...
120637,79,86932,33,34,1281,70.908104,207.004738,0.809032,0.847822,0.952139,7.541667
120638,79,86932,33,35,1281,70.906613,207.006441,0.816450,0.848286,0.955384,8.528571
120639,79,86932,33,35,1282,70.904875,207.008429,0.814441,0.848595,0.953375,8.902857
120640,79,86932,33,36,1282,70.903136,207.010417,0.812432,0.846740,0.954611,7.155000
120641,79,86932,33,36,1283,70.901647,207.012121,0.810732,0.841486,0.956466,6.305000

In [57]:
# create a column as index and set that column as index to plot transect

# lon_subset['index'] = [i for i in range(len(lon_subset['lon']))]
transect.index = range(1,len(transect)+1)
transect.head()

# set that column as index
# lon_subset.set_index['index']

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms
1,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750
2,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000
3,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353
4,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824
5,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000

In [58]:
# select a smaller subset of transect, like the first 1000 points (or 10)
transect_small = transect.iloc[0:10000]
transect_small

,#path,orbit,img_block,line,sample,lat,lon,an,ca,cf,rms
1,79,86932,32,411,771,71.753167,203.918390,0.654443,0.755881,0.791431,12.678750
2,79,86932,32,411,772,71.750189,203.921959,0.666452,0.778317,0.776579,12.010000
3,79,86932,32,412,772,71.749996,203.922187,0.676406,0.780845,0.787165,8.312353
4,79,86932,32,413,773,71.746816,203.925895,0.697736,0.813235,0.787481,9.718824
5,79,86932,32,414,773,71.743552,203.929087,0.713062,0.790641,0.801069,16.385000
...,...,...,...,...,...,...,...,...,...,...,...
9996,88,86918,28,197,837,76.469238,201.053426,0.776534,0.844542,0.966428,9.415000
9997,88,86918,28,197,838,76.467737,201.055780,0.779925,0.844918,0.989977,7.425000
9998,88,86918,28,198,838,76.465235,201.059688,0.765984,0.825326,0.955690,9.865000
9999,88,86918,28,198,839,76.464734,201.060466,0.769940,0.839455,0.980181,5.830909
10000,88,86918,28,198,840,76.461978,201.064700,0.771636,0.848686,0.980181,6.956667

In [60]:
xlon270 = transect_small[' lon']
ylat270 = transect_small[' lat']

In [61]:
# run with oython >= 3.8

# make_the_map(xlon270, ylat270)

In [62]:
# # extract transect data write it out

# # output_filename = "3cams_outofsample_atm.csv"
# output_filename = "insample_atm_withPathOrbit_3cams_forTransect_oldcodemethod.csv"

# # output_path = "/Users/ehsanmos/Documents/RnD/MISR_lab/ML_research/training_dataset"
# output_path = "/media/ehsan/6T_part1/2016/april_2016/14528_apr2016/project_april_2016_3cam/training_data"

# transect_small.to_csv(os.path.join(output_path, output_filename))