In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
input_csv = "/home/ehsan/misr_lab/atmmodels/april_2016/april_2016_9cam_4bands_final_merged_dataset_2.csv"

In [3]:
df = pd.read_csv(input_csv, index_col=0)

/home/ehsan/.local/lib/python3.6/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
columns_list = df.columns.tolist()
df.columns

Index(['orbit', 'block', 'line', 'sample', 'lat', 'lon', 'Da_r', 'Ca_r',
       'Ba_r', 'Aa_r', 'An_r', 'An_g', 'An_b', 'An_nir', 'Af_r', 'Bf_r',
       'Cf_r', 'Df_r', 'mean_ATM_roughness'],
      dtype='object')

In [5]:
df.head()

,orbit,block,line,sample,lat,lon,Da_r,Ca_r,Ba_r,Aa_r,An_r,An_g,An_b,An_nir,Af_r,Bf_r,Cf_r,Df_r,mean_ATM_roughness
path,,,,,,,,,,,,,,,,,,,
0,0,0,0.00,0.00,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,0.00
152,86922,9,75.15,1205.60,74.422639,215.545163,1.03203,0.84397,0.71459,0.62433,0.59725,0.47642,0.76723,-99.0,0.70105,0.92672,1.39007,2.15582,5.19
152,86922,9,74.95,1205.52,74.422351,215.546735,1.03353,0.83645,0.71008,0.61530,0.58973,0.48393,0.76573,-99.0,0.69955,0.94627,1.39609,2.15582,5.72
152,86922,9,74.76,1205.45,74.422064,215.548307,1.03353,0.83645,0.71008,0.61530,0.58973,0.48393,0.76573,-99.0,0.69955,0.94627,1.39609,2.15582,6.33
152,86922,9,74.92,1205.51,74.422294,215.547049,1.03353,0.83645,0.71008,0.61530,0.58973,0.48393,0.76573,-99.0,0.69955,0.94627,1.39609,2.15582,5.97

In [6]:
# filter_3_cams = (df["Ca_r"] > 0.0) & (df["An_r"] > 0.0) & (df["Cf_r"] > 0.0)

In [7]:
filter_all_12cams = ((df.Da_r >= 0.0) & 
                     (df.Ca_r >= 0.0) & 
                     (df.Ba_r >= 0.0) & 
                     (df.Aa_r >= 0.0) & 
#                      (df.An_nir >= 0.0)&
#                     (df.An_g >= 0.0) &
#                     (df.An_b >= 0.0) &
                     (df.An_r >= 0.0) &
                     (df.Af_r >= 0.0) &
                     (df.Bf_r >= 0.0) &
                     (df.Cf_r >= 0.0) &
                    (df.Df_r >= 0.0))

In [8]:
# filter_NIR = (df.An_nir >= 0.0)

In [9]:
# filter_similar_rows = (final_ds['path']==misr_path_num) & (final_ds['block']==misr_block) & (final_ds['line']==misr_pixel_x) & (final_ds['sample']==misr_pixel_y)

In [10]:
df[filter_all_12cams]

,orbit,block,line,sample,lat,lon,Da_r,Ca_r,Ba_r,Aa_r,An_r,An_g,An_b,An_nir,Af_r,Bf_r,Cf_r,Df_r,mean_ATM_roughness
path,,,,,,,,,,,,,,,,,,,
0,0,0,0.00,0.00,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,0.00
152,86922,9,75.15,1205.60,74.422639,215.545163,1.03203,0.84397,0.71459,0.62433,0.59725,0.47642,0.76723,-99.0,0.70105,0.92672,1.39007,2.15582,5.19
152,86922,9,74.95,1205.52,74.422351,215.546735,1.03353,0.83645,0.71008,0.61530,0.58973,0.48393,0.76573,-99.0,0.69955,0.94627,1.39609,2.15582,5.72
152,86922,9,74.76,1205.45,74.422064,215.548307,1.03353,0.83645,0.71008,0.61530,0.58973,0.48393,0.76573,-99.0,0.69955,0.94627,1.39609,2.15582,6.33
152,86922,9,74.92,1205.51,74.422294,215.547049,1.03353,0.83645,0.71008,0.61530,0.58973,0.48393,0.76573,-99.0,0.69955,0.94627,1.39609,2.15582,5.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,86904,15,338.44,1188.81,80.071016,272.561010,0.87207,0.79084,0.73204,0.67773,0.66023,0.57975,0.74908,-99.0,0.73922,0.87926,1.11803,1.52467,6.72
97,86904,15,338.34,1188.82,80.070870,272.562200,0.87207,0.79084,0.73204,0.67773,0.66023,0.57975,0.74908,-99.0,0.73922,0.87926,1.11803,1.52467,6.53
97,86904,15,338.24,1188.83,80.070724,272.563396,0.87207,0.79084,0.73204,0.67773,0.66023,0.57975,0.74908,-99.0,0.73922,0.87926,1.11803,1.52467,6.48
97,86904,15,338.14,1188.84,80.070579,272.564597,0.87207,0.79084,0.73204,0.67773,0.66023,0.57975,0.74908,-99.0,0.73922,0.87926,1.11803,1.52467,6.74
97,86904,15,338.04,1188.85,80.070436,272.565802,0.87207,0.79084,0.73204,0.67773,0.66023,0.57975,0.74908,-99.0,0.73922,0.87926,1.11803,1.52467,7.06

In [11]:
for list_elem in columns_list:
    
    print("max %s:  %d" %(list_elem, df[list_elem].max()))

max orbit:  87049
max block:  33
max line:  511
max sample:  2047
max lat:  84
max lon:  275
max Da_r:  59
max Ca_r:  44
max Ba_r:  34
max Aa_r:  28
max An_r:  25
max An_g:  19
max An_b:  42
max An_nir:  0
max Af_r:  35
max Bf_r:  56
max Cf_r:  106
max Df_r:  8
max mean_ATM_roughness:  653